<% layout("/layouts/boilerplate") %>
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->
<style>
  #filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .filter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.5;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  #filters a {
    color: black;
    text-decoration: none;
    opacity: 0.5;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }

  .underline {
    border-bottom: 0.25rem solid black;
    border-radius: 5%;
    opacity: 1;
  }

  @media (max-width: 1400px) {
    .tax-toggle {
      margin-left: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    #filters {
      flex-wrap: wrap;
    }
  }

  @media (max-width : 768px) {
    #filter {
      justify-content: space-evenly;
    }
    .filter {
      margin-right: 1rem;
    }
    .tax-toggle {
      margin-left: 0;
    }
  }
</style>

<div id="filters">
  <div class="filter">
    <div>
      <i class="fa-solid fa-globe"></i>
    </div>
    <p>All</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-fire"></i>
    </div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-bed"></i>
    </div>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-mountain-city"></i>
    </div>
    <p>Iconic Cities</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-mountain"></i>
    </div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-school-flag"></i>
    </div>
    <p>Castles</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-person-swimming"></i>
    </div>
    <p>Amazing Pools</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-campground"></i>
    </div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-cow"></i>
    </div>
    <p>Farms</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-snowflake"></i>
    </div>
    <p>Arctic</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-igloo"></i>
    </div>
    <p>Domes</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-ship"></i>
    </div>
    <p>Boats</p>
  </div>
  <div class="tax-toggle btn btn-outline-secondary">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>

<div
  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3"
  id="listings-container"
>
  <% if(listings.length == 0) { %>
  <div style="width: 100%; text-align: center" class="alert alert-warning">
    No Listings were found in this category
  </div>
  <% } %> <% for(const listing of listings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
          <i class="tax-info tax"
            >&nbsp;&nbsp;+ 18% gst = &#8377; <%= (listing.price + 0.18 *
            listing.price).toLocaleString("en-IN") %> / night</i
          >
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  const inpSwitch = document.getElementById("switchCheckDefault");
  const updateTaxDisplay = () => {
    const taxInfoElements = document.getElementsByClassName("tax");
    for (const el of taxInfoElements) {
      if (inpSwitch.checked) {
        el.classList.remove("tax-info");
      } else {
        el.classList.add("tax-info");
      }
    }
  };
  inpSwitch.addEventListener("click", updateTaxDisplay);

  const filters = document.getElementsByClassName("filter");
  for (const filter of filters) {
    filter.addEventListener("click", async () => {
      const underline = document.getElementsByClassName("underline");
      const category = filter.children[1].innerHTML.toLowerCase();
      underline.length > 0 ? underline[0].classList.remove("underline") : 0;
      filter.classList.add("underline");
      await filterByCategory(category);
      updateTaxDisplay();
    });
  }
</script>
